<%= error_messages_for 'eq' %>

<!--[form:eq]-->

<p><label for="eq_mob">Mob</label><br/>
<%= text_field 'eq', 'mob'  %></p>

<p><label for="eq_mob">Description</label><br/>
<%= text_field 'eq', 'sdesc'  %></p>

<p><label for="eq_mob">Stats</label><br/>
<%= text_field 'eq', 'stats'  %></p>

<p><label for="eq_mob">Value</label><br/>
<%= text_field 'eq', 'points'  %></p>

<!--[eoform:member]-->
