<html>
<head>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "sorttable" %>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/ico" />
  
<title>Darkness+ Society</title>
  <%= stylesheet_link_tag 'general' %>
</head>
<body>
<table valign="top" frame="border" rules="none" border="0" width="100%">
<tr>

<td valign="top" width="100">
<table class="navbar" valign="top" border="0">
<tr><td align="center"><img src="/images/gigagaia.gif"/></td>
<tr><td align="center"><a class="whitelink" href="/home">Home</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/rules">Rules</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/members/list">Members</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/party/list">Parties</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/eq/list">Items</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/eq_locator">Locate items</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/scheduler">Scheduler</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/bids">Your dice point usage</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/transfers">Transfers</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/blog">Sales Blog</a></td></tr>
<tr><td align="center"><a class="whitelink" href="/account/logout">Logout</a></td></tr>
</table>
</td>
<td valign="top">
<div style="margin-left: 0.5cm; margin-right:0.5cm; margin-top: 0.0cm; margin-bottom: 0.0cm">
<%= @content_for_layout %>
</div>
</td>
</tr>
</body>
</html>
