<html>
<head>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/ico" />

<title>Darkness+ Society Login</title>
  <%= stylesheet_link_tag 'general' %>
</head>  

<body>
<%= @content_for_layout %>
</body>
</html>