<h1>Editing member</h1>

<%= start_form_tag :action => 'update', :id => @member %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<%= end_form_tag %>

<%= link_to 'Back to list of members', :action => 'list' %>
